# Ignore MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Thumbs.db (Windows)
Thumbs.db

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore node_modules and vendor directories
node_modules/
vendor/

# Ignore Composer files
composer.lock
composer.phar

# Ignore Sass cache files
.sass-cache/

# Ignore other system files
*.swp
*.swo
*.bak
*.tmp

# Ignore IDE specific files
.idea/
.vscode/
*.code-workspace
